body {
background-image: url("https://fondosmil.com/fondo/34575.jpg");
margin: 0;
padding: 0;
font-family: sans-serif;
height: 50vh;



}


header{

    padding: 20 ;
    font-style: initial;
    width: 500px;
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    text-align: center;

    
}

nav {

    background-color: white;
    text-align: center;
   padding: 10;
   margin: 0;
    border-radius: 10px;
    
    
    



}

.sesion{

color: black;



}

a:hover{

    color: blue;


}


.login-box{


text-align: center;
width: 320px;
height: 420px;
background-color:yellow;
border-radius: 10px;
color: black;
top: 50%;
left: 30%;
position: absolute;
transform: translate(-50%, -50%)




}

.login-box input{

width: 100;
margin-bottom: 5%;
background-color:white;



}

.login-box label{

margin: 0;
padding: 0;
font-weight: bold;
display: block;


}

.login-box h1{

padding: 0;
margin: 0;



}

.login-box2{
    
background-color: yellow;
padding: 0;
margin: 0;
height: 500px;
top: 50%;
left: 70%;
width: 30%;
position: absolute;
transform: translate(-50%,-50%);
border-radius: 10px;



}


