body {

background-color: rgb(95, 29, 29);


}


header{

    background-color:   rgb(235, 186, 51) ;
    border: 1px solid red
    




    

}

nav {

background-color: white;
text-align: center;



}