body {
background-color: rgb(3, 44, 106);
margin: 0;
padding: 0;
font-family: sans-serif;
height: 50vh;



}


header{

    padding: 20 ;
    font-style: initial;
  
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    
}

nav {

    background-color: white;
    text-align: center;
   padding: 50;
   margin: 0;
    border-radius: 10px;
    
    
    



}

.sesion{

color: black;



}

a:hover{

color: 


}


.login-box{


text-align: center;
width: 320px;
height: 420px;
background-color:yellow;
border-radius: 10px;
color: black;
top: 50%;
left: 12%;
position: absolute;
transform: translate(-50%, -50%)




}

.login-box input{

width: 100;
margin-bottom: 5%;
background-color:white;



}

.login-box label{

margin: 0;
padding: 0;
font-weight: bold;
display: block;


}

.login-box h1{

padding: 0;
margin: 0;



}




